.nav-link{
	color: blue;
	font-size: 10;
}

.navbar-brand {
    position: relative;
    background: url(img/logo_cv.jpg);
    width: 40px;
    left: 15px;
    background-size: contain;
}

.page{
	margin: auto;
	width: auto;
	/*font-size: 12px;
*/}

.info{
	height: 250px;
	margin: 10px;
}

.photo{
	float: left;
	padding: 2px;
	
}

.myInfo{
	float: left;
	padding: 5px;
}